* {
    margin: 0;
    padding: 0;
}

/* анимацЪ */
/* animation: sweep 1s ease; */
@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -20px
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}





body {
    font-family: 'Lato', sans-serif;
    /* width: 1600px; */
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
    width: 1600px;
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1.0px solid #ececec;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.logo {
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    color: #222222;
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 13px;
}

.logo__img__text {
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
}


.block__browse {
    width: 87px;
    height: 38px;
    display: flex;
}

.block__browse:hover {
    box-shadow: 0 0 10px #9f9f9f;
    transition: 0.5s;
}

.browse {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 0 0 3px;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    width: 87px;
    height: 38px;
    font-size: 14px;
    border: none;
}

.browse__arrow {
    padding-left: 5px;
}

/* Browse раскрытие */

.block__browse {
    position: relative;
}

.block__browse:hover .block__browse__drop {
    display: block;
}

.drop__menu__ul {
    margin-bottom: 20px;
}

.block__browse__drop {
    position: absolute;
    top: 38px;
    display: none;
    background-color: #ffffff;
    border-radius: 5.0px;
    z-index: 2;
    padding: 10px 12px;
}

.block__browse__drop__headline {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    border-bottom: 1px solid #e8e8e8;
    width: 236px;
    margin-bottom: 17px;
    padding-bottom: -4px;
}



.header__flex {
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}

.input__text {
    height: 38px;
    width: 280px;
    box-sizing: border-box;
    border: 0.1px solid #e6e6e6;
    border-right: none;
    padding-left: 15px;
    padding-right: 15px;
}

.header__form__button2 {
    width: 40px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.header__form__button2:hover {
    transition: 0.5s;
    box-shadow: 0 0 10px #9f9f9f;
}

.header__form__img {
    height: 14px;
    width: 20px;
}

.header__form {
    height: 38px;
    display: flex;
    margin-left: 35px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right__button {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.arrow_account {
    padding-left: 5px;
}

.header__right__button:hover {
    box-shadow: 0 0 10px 5px #f16d7f;
    transition: 0.5s;
}

.header__cart {
    width: 32px;
    height: 29px;
}

.header__cart:hover {
    box-shadow: 0 0 10px 1px #000000;
    transition:  background 0.5s;
    border-radius: 15%;
    background-color: rgb(0, 0, 0, 0.3);
}

/* вылезающее из корзины */

.header__right__list__drop {
    width: 262px;
    /* height: 440px; */
    background-color: #ffffff;
    border-radius: 5px;
    display: none;
    position: absolute;
    z-index: 2;
}

.header__right__list {
    position: relative;
}

.header__right__list:hover .header__right__list__drop {
    display: block;
}

.header__right__list__drop__container__content {
    width: 229px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid rgb(237, 237, 237, 0.74);
    margin-top: 21px;
    padding-bottom: 16px;
}

.header__right__list__drop__container__content__img {
    transform: scale(0.9);
    transition: 0.5s;
}

.header__right__list__drop__container__content__img:hover {
    transform: scale(1.0);
}

.list__drop__container__content__headline {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.list__drop__container__content__stars {
    font-size: 12px;
    font-weight: 400;
    color: #e4af48;
    margin-top: 10px;
    margin-bottom: 12px;
}

.list__drop__container__content__price {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f16d7f;
}

.header__right__list__drop__container__content__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 157px;
    margin-left: 15px;
}

.list__drop__container__content__delete {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #c0c0c0;
}

.list__drop__container__content__delete:hover {
    color: #646464;
}

.header__right__list__drop__container__content__total {
    justify-content: space-between;
    width: 229px;
    display: flex;
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 32px;
}

.total__price {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.header__right__list__drop__container__content__button {
    border: 1.0px solid #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    padding: 16.5px 0px;
    display: block;
    width: 225px;
    text-align: center;
    margin: 0 auto;
    transform: scale(0.9);

}

.header__right__list__drop__container__content__button2 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    padding: 16.5px 0px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    display: block;
    width: 225px;
    text-align: center;
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 20px;
    transform: scale(0.9);
}

.header__right__list__drop__container__content__button:hover,
.header__right__list__drop__container__content__button2:hover {
    background-color: rgb(122, 122, 122);
    transition: all 1s;
    box-shadow: 0 0 1px 1px #222224;
    transform: scale(1.0);
}

/* Меню nav */
.menu {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.menu__link {
    padding: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    color: #222222;
}

.menu__link:hover {
    box-shadow: 0 0 10px 10px #9f9f9f;
    transition: 0.3s;
    border-radius: 75%;
}

/* подменю для женщин */
.menu__list {
    position: relative;
}

.drop {
    background-color: #ffffff;
    border-radius: 5.0px;
    position: absolute;
    display: none;
}

.menu__list:hover .drop {
    display: flex;
}

.drop__flex {
    padding: 12px 20px;
}

.nav__drop__headline {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
    margin-bottom: 17px;
    padding-bottom: -4px;
}

.drop__menu__list:hover {
    box-shadow: 0 0 5px 5px #9f9f9f;
    background-color: #9f9f9f;
}

.drop__menu__link {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
}

.drop__menu__img__container {
    background-image: url(../img/drop__menu.jpg);
    width: 255px;
    height: 118px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 22px;
}

.drop__menu__img__container__for__text {
    width: 71px;
    height: 45px;
    padding: 15px 12px;
}

.drop__menu__img__container__text {
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
}


/* section  1 */
.section1 {
    height: 613px;
    background: #e8e8e8;
}

.section1__content {
    background-image: url(../img/promo.jpg);
    margin: 0 auto;
    height: 100%;
    display: flex;
    width: 1140px;
    align-items: center;
    background-position: 0 -51px;
}

.section1__content__text {
    border-left: #f16d7f solid 12px;
    padding-left: 12px
}

.section1__content__text1 {
    font-size: 60px;
    font-weight: 900;
    color: #222222;
    line-height: 45px;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.section1__content__text2 {
    font-size: 40px;
    font-weight: 900;
    color: #222222;
    text-transform: uppercase;
    line-height: 34px;
}

.section1__content__text22 {
    font-size: 40px;
    font-weight: 900;
    color: #f16d7f;
    text-transform: uppercase;
}

/* section2 */

.section2 {
    margin-top: 98px;
}

.section2__content {
    margin: 0 auto;
    width: 1140px;
    height: 823px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}

.section2__content__content1 {
    background-image: url(../img/img2.jpg);
    width: 560px;
    height: 542px;
}

.section2__content__content1__text {
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 26px;
    padding-left: 19px;
    padding-top: 16px;
}

.section2__content__content1__text1 {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #222222;
}

.section2__content__content1__text2 {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 50px;
}

.section2__content__content2 {
    background-image: url(../img/img3.jpg);
    width: 560px;
    height: 261px;
}

.section2__content__content2__text {
    width: 162px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 26px;
    padding-left: 19px;
    padding-top: 16px;
}

.section2__content__content2__text1 {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #222222;
    line-height: 35px;
}

.section2__content__content2__text2 {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.section2__content__content3 {
    background-image: url(../img/img4.jpg);
    background-position: 175px 0;
    background-color: #dadad2;
    width: 560px;
    height: 261px;
    background-repeat: no-repeat;
}

.section2__content__content3__text {
    width: 225px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 26px;
    padding-left: 19px;
    padding-top: 16px;
}

.section2__content__content3__text1 {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #222222;
}

.section2__content__content3__text2 {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
}

.section2__content__content4 {
    background-image: url(../img/img5.jpg);
    width: 560px;
    height: 542px;
}

.section2__content__content4__text {
    width: 180px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 26px;
    padding-left: 19px;
    padding-top: 16px;
}

.section2__content__content4__text1 {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #222222;
}

.section2__content__content4__text2 {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 50px;
}

/* section3 */
.section3__h1 {
    font-size: 30px;
    font-weight: 700;
    color: #222222;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 16px;
}

.section3__p {
    font-size: 14px;
    font-weight: 400;
    color: #9f9f9f;
    text-align: center;
}

.section3 {
    margin-top: 60px;

}

.section3__content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.section3__content__items {
    width: 260px;
    height: 376px;
    position: relative;
    margin: 10px;
}

.section3__content__items:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.section3__content__items:hover .stars__index {
    display: block;
}

.section3__content__items__opacity {
    width: 263px;
    height: 281px;
    opacity: 0;
    background-color: rgba(58, 56, 56, 0.83);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3__content__items__opacity:hover {
    opacity: 0.8;
    transition: 1s;
}

.section3__content__items__opacity__button:hover {
    box-shadow: 0 0 10px 5px rgb(204, 14, 14);
    transition: 1s;
}

.section3__content__items__opacity__button {
    border: 1px solid #ffffff;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 39px;

}

.section3__content__items__text1 {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    margin: 20px 0px 17px 10px;
}

.section3__content__items__container__text2 {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.section3__content__items__text2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    margin-left: 10px;
}

.section3__button {
    width: 212px;
    height: 48px;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    background-color: #f16d7f;
    margin-bottom: 113px;
}

.section3__button:hover {
    box-shadow: 0 0 10px 5px #050404;
    transition: 1s;
}

.section3__form {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

/* section 4 */
.section__4 {
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 97px;
    display: flex;
}

.section__4__left {
    /* background-color: #222224; */
    height: 529px;
    width: 767px;
    background-image: url(../img/section4.jpg);

}

.section__4__left__price {
    padding-top: 146px;
    padding-left: 39px;
}

.section__4__price__text {
    font-size: 53.7px;
    font-weight: 700;
    color: #ffffff;
}

.section__4__price__text__color {
    font-size: 53.7px;
    font-weight: 700;
    color: #f16d7f;
    text-transform: uppercase;
}

.section__4__price__text__2 {
    font-size: 32.2px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.section__4__right {
    width: 373px;
    height: 529px;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section__4__right__content {
    width: 300px;
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
}

.section__4__right__content__h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fbfbfb;
    letter-spacing: 0.025em;
    margin-bottom: 17px;
}

.section__4__right__content__p {
    font-size: 14px;
    font-weight: 300;
    color: #fbfbfb;
    letter-spacing: 0.025em;
    line-height: 24px;
}

.section__4__right__content__text {
    width: 219px;
    margin-left: 30px;
}

/* section 5 */
.section__5 {
    margin: 0 auto;
    width: 1600px;
    height: 438px;
    background-image: url(../img/section5.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 123px;
}

.section__5__container {
    width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.section__5__left {
    width: 497px;
    display: flex;
    align-items: flex-start;
}

.section__5__left__img {
    border-radius: 50%;
}

.section__5__left__right {
    width: 386px;
    margin-left: 28px;
}

.section__5__left__cite {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
    margin-bottom: 19px;
}

.section__5__left__cite2 {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222224;
}

.section__5__left__cite__color {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.section__5__right__headline {
    text-align: center;
}

.section__5__right__headline__h3 {
    font-size: 24px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
}

.section__5__right__headline__p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
    margin-bottom: 35px;
}

.section__5__form {
    height: 46px;
    display: flex;
    align-items: center;
}

.section__5__form__input {
    width: 334px;
    height: 46px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    border: 0;
}

.section__5__form__button {
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0.0px 23.0px 23.0px 0.0px;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;

}

.section__5__form__button:hover {
    box-shadow: 0 0 10px 3px #f16d7f;
    transition: 0.5s;
}

/* section 6 */
.section__6 {
    margin: 0 auto;
    width: 1140px;
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__6__content {
    width: 427px;
}

.section__6__content__text {
    margin-top: 29px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
}


.section__6__link {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
    padding: 7px;
}

.section__6__link:hover {
    box-shadow: 0 0 10px 5px #9f9f9f;
    background-color: #cfcfcf;
    transition: 0.1s;
}

.section__6__content__headline {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    padding: 10px;
}

/* footer */
footer {
    margin-top: 97px;
    height: 79px;
    background-color: #e6e6e6;
}

.footer__container {
    width: 1140px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.copyrigh {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
}

.network {
    color: #fff;
    background-color: #b2b2b2;
    margin-right: 8px;
    border-radius: 15%;
    font-size: 32px;
}

.network:hover {
    background-color: #f16d7f;
    color: #fff;
}



/* single__page.html */

/* section 2 */
.section__single__page__2 {
    height: 777px;
    background-color: #f7f7f7;
    border: 1.0px solid #eaeaea;
    background-image: url(../img/single__page.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__section__single__page__2 {
    width: 47px;
    height: 47px;
    opacity: 0.5;
    background-color: rgba(42, 42, 42, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link__button__section__single__page__2 {
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}

.link__button__section__single__page__2:hover {
    box-shadow: 0 0 5px 5px #cfcfcf;
    background-color: #a0a0a0;
}

/* section 3 */
.section__single__page__3 {
    height: 728px;
    width: 1140px;
    background-color: #ffffff;
    border: 1.0px solid #eaeaea;
    margin: 0 auto;
    margin-top: -88px;
    padding-top: 73px;
    margin-bottom: 119px;
}

.section__single__page__3__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 642px;
    margin: 0 auto;
    height: 728px;
}

.section__single__page__3__headline {
    font-size: 14px;
    font-weight: 700;
    color: #f16d7f;
    border-bottom: 1px solid #ef5b70;
    padding-bottom: 10px;
    margin-bottom: 17px;
}

.section__single__page__3__container__content {
    width: 619px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__single__page__3__container__content__headline {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
}

.section__single__page__3__container__content__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
    text-align: center;
}

.section__single__page__3__container__content__stars {
    color: rgb(109, 109, 4);
    margin-top: 24px;
    margin-bottom: 26px;
}

.section__single__page__3__container__content__material {
    display: flex;
    justify-content: space-between;
    width: 334px;
    margin-top: 28px;
    margin-bottom: 48px;
}

.section__single__page__3__container__content__headline__h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #b9b9b9;
}

.section__single__page__3__container__content__headline__h3__color {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
}

.section__single__page__3__container__content__price {
    width: 618px;
    text-align: center;
    border-bottom: 1px solid #ef5b70;
    padding-bottom: 43px;
    margin-bottom: 63px;
}

.section__single__page__3__container__content__price__color {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ef5b70;
}

.section__single__page__3__container__content__cart {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.section__single__page__3__container__content__cart__1__headline {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
}

#select__color {
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1.0px solid #eaeaea;
    padding: 5px;
}

#select__size {
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1.0px solid #eaeaea;
    padding: 5px;
}

#quantity {
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1.0px solid #eaeaea;
    padding: 0 10px;
    box-sizing: border-box;
}

#quantity,
#select__size,
#select__color {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bcbcbc;
}

.section__single__page__3__container__content__cart__1__button {
    width: 537px;
    height: 55px;
    background-color: #ffffff;
    border: 1px solid #ef5b70;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
}

.section__single__page__3__container__content__cart__1__button:hover {
    box-shadow: 0 0 5px 5px #ef5b70;
    background-color: #e4bdc4;
}

.section__single__page__3__container__content__cart__1__button__text {
    font-size: 16px;
    font-weight: 700;
    color: #ef5b70;
    padding-left: 15px;
}

/* section 4 */

.section__single__page__4 {
    width: 1140px;
    height: 526px;
    margin: 0 auto;
}

.section__single__page__4__headline {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    margin-bottom: 72px;
    text-align: center;
}

.section__single__page__4__container {
    display: flex;
    justify-content: space-between;
}

.section__single__page__4__container__1 {
    width: 261px;
    height: 364px;
}

.section__single__page__4__container__for__img {
    background-color: #e9e9e9;
    width: 261px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__single__page__4__container__text {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
    margin-bottom: 17px;
}

.section__single__page__4__container__text__color {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.section__single__page__4__container__text__all {
    padding: 18px 12px;
}

.section__single__page__4__container__text__all__2 {
    display: flex;
    justify-content: space-between;
}

.stars__index {
    display: none;
}

.section__single__page__4__container__1:hover .stars__index {
    display: block;
}

.section__single__page__4__container__1:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}






/* checkout.html */
.section__nav__header__1 {

    height: 148px;
    background-color: #f8f3f4;

}

.section__nav__header__1__container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__nav__header__1__h {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
}

.section__nav__header__1__p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363
}

.section__nav__header__1__p__color {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

/* section register */

.section__checkout__register {
    width: 1140px;
    margin: 0 auto;
    margin-top: 97px;
    margin-bottom: 60px;
}

.section__checkout__register__menu__list__content {
    display: flex;

    padding: 39px 39px 0 39px;
}

.section__checkout__register__menu__list__content__left {
    height: 430px;
    width: 550px;
}

.section__checkout__register__menu__list__content__left__text {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 15px;
}

.section__checkout__register__menu__list__content__left__text__2 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
    margin-bottom: 34px;
}

.checkout__input__l {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    display: block;
    width: 150px;
}

.checkout__input__l:hover {
    color: #814545;
    cursor: pointer;
}

#checkout__input__checkout,
#checkout__input__register {
    margin-bottom: 20px;
    margin-right: 14px;
}

#button__continue {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    width: 180px;
    height: 50px;
    background-color: #ffffff;
    border: 1.0px solid #eaeaea;
    margin-top: 18px;
}

#button__continue:hover {
    box-shadow: 0 0 5px 5px #6f6e6e;
    background-color: #6f6e6e;
}

.section__checkout__register__menu__list__content__left__text__p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
    margin-bottom: 33px;
}

.section__checkout__register__menu__list__content__left__text__p__2 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
    margin-bottom: 15px;
}

.section__checkout__register__menu__list__content__right {
    height: 430px;
}

.section__checkout__register__menu__list__content__right__text {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.section__checkout__register__menu__list__content__right__text__2 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
    margin-top: 15px;
    margin-bottom: 27px;
}

.section__checkout__input__text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 16px;
    cursor: pointer;
    display: block;
}

.section__checkout__input__text:hover {
    color: #814545;
}

.section__checkout__input__text:after {
    content: "*";
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #ff0d0d;
    padding-left: 5px;
}

#section__checkout__email__input,
#section__checkout__password__input {
    width: 390px;
    height: 45px;
    background-color: #ffffff;
    border: 1.0px solid #eaeaea;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 22px;
    box-sizing: border-box;
}

.section__checkout__register__menu__list__content__right__text__3 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #ff0d0d;
}

.section__checkout__register__menu__list__content__right__container__button {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.section__checkout__register__menu__list__content__right__button {
    width: 180px;
    height: 50px;
    background-color: #ffffff;
    border: 1.0px solid #eaeaea;
    margin-right: 32px;
    box-sizing: border-box;
}

.section__checkout__register__menu__list__content__right__button:hover {
    box-shadow: 0 0 5px 5px #6f6e6e;
    background-color: #6f6e6e;
}

.section__checkout__register__menu__list__content__right__button__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #222222;
}

.section__checkout__register__menu__list__content__right__button__text:hover {
    color: #636363;
}

.checkout__summary::after {
    display: block;
    content: "";
}

.checkout__summary::-webkit-details-marker {
    display: none;
}

.checkout__summary {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    outline: none;
    height: 60px;
    display: flex;
    align-items: center;
}

.checkout__summary:hover {
    background-color: #9b9b9b;
}

.checkout__details {
    border-bottom: 1px solid #e8e8e8;
}

details[open] summary~* {
    animation: sweep 1s ease;
}

.checkout__summary:hover {
    cursor: pointer;
}

/* product.html */
.product__container {
    margin: 0 auto;
    width: 1140px;
    margin-top: 59px;
    display: flex;
}

#details__product,
#details__product__2,
#details__product__3 {
    width: 243px;
    margin-bottom: 18px;
}

#summary__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-left: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    border-left: 5px solid #ef5b70;
    border-bottom: 1px solid #ebebeb;
    outline: none;
}

#summary__product__2,
#summary__product__3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-left: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    border-left: 5px solid #ef5b70;
    border-bottom: 1px solid #ebebeb;
    outline: none;
}

.ul__product__menu__left {
    padding-left: 12px;
    padding-top: 5px;
}

.details__product__link {
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    color: #6f6e6e;
}

.details__product__link:hover {
    background-color: #f7b9c2;
    box-shadow: 0 0 5px 5px #ef5b70;
}

/* правый контент */


.product__content__right {
    margin-left: 51px;
    width: 846px;
}

.product__content__right__specification {
    display: flex;
    justify-content: space-between;
}

.specification__headline {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    margin-bottom: 25px;
}

.product__content__right__specification__cloth {
    width: 210px;
}

.specification__cloth__link {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    /* border-right: 2px solid #dfdfdf; */
    padding-right: 10px;

}

.cloth__link__span {
    color: #dfdfdf;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    padding-right: 10px;
}

.product__content__right__specification__size {
    width: 244px;
}

.size__size {
    margin-right: 9px;

}

#range {
    width: 262px;
    height: 6px;
}

.specification__checkbox {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
    padding-right: 21px;
}

.product__content__right__specification__2 {
    width: 846px;
    height: 50px;
    background-color: #f3f3f3;
    margin-top: 41px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
}

.product__content__right__specification__2__ein {
    width: 168px;
    height: 30px;
    background-color: #ffffff;
    border: 1.0px solid #ebebeb;
    display: flex;
    align-items: center;
    margin-left: 9px;
    justify-content: space-around;
}

.product__content__right__specification__2__ein__headline {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    border-right: 1px solid #3ccc2f;
    padding-right: 10px;
    padding-left: 13px;
}

#sort__by__1,
#sort__by__2 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    border: none;
    outline: none;
    padding-left: 5px;
    padding-right: 10px;
}

.product__content__right__specification__2__zwei {
    width: 119px;
    height: 30px;
    background-color: #ffffff;
    border: 1.0px solid #ebebeb;
    display: flex;
    align-items: center;
    margin-left: 9px;
    justify-content: space-around;
}

/* основной правый контент */
.product__content__right__product__container {
    display: flex;
    flex-wrap: wrap;
}

.section3__content__items__opacity__button_mini {
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 3.0px;
    display: block;
    width: 57px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    transition: 1s;
}

.section3__content__items__opacity__buttons_2 {
    display: flex;
    justify-content: space-between;
}

.section3__content__items__opacity__button_mini:hover {
    box-shadow: 0 0 10px 5px rgb(204, 14, 14);
    transition: 1s;
}

.section3__content__items__opacity__button_mini:hover .retweet {
    color: rgb(0, 0, 0);
    font-weight: 700;
    box-shadow: 0 0 5px 10px #000;
    transition: 1s;
}

.section3__content__items__opacity__button_mini:hover .heart {
    color: red;
    font-weight: 700;
    box-shadow: 0 0 10px 10px rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.425);
    border-radius: 30%;
    transition: 1s;
}

.section3__content__items__bgc {
    background-color: #f1edea;
    height: 285px;
}

.section3__content__items__img__position {
    margin-left: 27%;
}

/* пагинатион */

.product__content__right__product__pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
}

.pagination__right__link {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #ef5b70;
    padding: 7px 45px;
    border: 1.0px solid #ef5b70;
    border-radius: 3.0px;
    outline: none;
    background-color: #ffffff;
}

.pagination__right__link:hover {
    box-shadow: 0 0 10px 5px rgb(218, 0, 0);
    background-color: rgba(207, 97, 97, 0.384);
    transition: .5s;
}

.product__content__right__product__pagination__left {
    width: 261px;
    height: 44px;
    background-color: #ffffff;
    border: 1.0px solid #ebebeb;
    border-radius: 3.0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination__left__link {
    padding: 5px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #c4c4c4;
}

.pagination__left__link:hover {
    color: rgb(150, 0, 0);
    font-weight: 700;
    background-color: rgb(92, 92, 92);
}

/* offer */
.offer {
    background-color: #222224;
    height: 341px;
    margin-top: 110px;
    display: flex;
    align-items: center;
}

.offer__container {
    width: 1140px;
    display: flex;
    margin: 0 auto;
}

.section__4__right__content__text__product {
    text-align: center;
    width: 219px;
    margin-left: 30px;
}

.offer__content__text {
    text-align: center;
}

.offer__img {
    margin-bottom: 24px;
}

.offer__img__set {
    margin-bottom: 17px;
}






/* shopping Cart.html */
.product__details {
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 63px;
    margin-top: 90px;
}

.product__details__headline__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.0px solid #eaeaea;
    margin-bottom: 22px;
    padding-bottom: 20px;
}

.product__details__content__all {
    border-bottom: 1.0px solid #eaeaea;
    padding-bottom: 25px;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__details__content {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-right: 263px;

}

.product__details__headline {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #222222;
}

.product__details__headline:first-child {
    margin-right: 445px;
}

.product__details__content__text_one,
.product__details__content__text_two {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #575757;
}

.product__details__content__text_one::after {
    content: "Red";
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #6f6e6e;
}

.product__details__content__text_two::after {
    content: "XII";
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #6f6e6e;
}

.product__details__content__headline {
    /* margin-bottom: 38px; */
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}
.stars__shopping {
    margin-top: 11px;
    margin-bottom: 15px;
}
.product__details__content__category {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #656565;
}

.product__details__content__category__input {
    width: 54px;
    height: 30px;
    background-color: #ffffff;
    border: 1.0px solid #eaeaea;
    text-align: center;
}

.fa-times-circle-2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #c0c0c0;
    margin-right: 15px;
}
.fa-times-circle-2:hover {
    color: #fa0b0b;
}

/* после контента адрес */
.shopping__adress {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 79px;
}

.geo__adress {
    width: 360px;
}

.geo__adress__headline {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 22px;
}

.geo__adress__input {
    width: 355px;
    height: 45px;
    background-color: #ffffff;
    border: 1.0px solid #eaeaea;
    padding-left: 18px;
    padding-right: 12px;
    font-size: 13px;
    font-weight: 300;
    color: #b1b1b1;
    box-sizing: border-box;
    margin-bottom: 20px;
    outline: none;
}

.geo__adress__button {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    width: 100px;
    height: 35px;
    background-color: #ffffff;
    border: 1.0px solid #eaeaea;
    outline: none;
}

.geo__adress__button:hover {
    background-color: rgb(185, 0, 0);
    box-shadow: 0 0 5px 5px #b1000f;
}

.geo__adress__p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px;
}

.geo__adress__3 {
    background-color: #f5f3f3;
    width: 360px;
    height: 214px;
    text-align: center;
}

.geo__adress__3__content {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 22px;
    margin-bottom: 17px;
    text-align: right;
    margin: 40px 40px 0 40px;
}

.geo__adress_price {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #4a4a4a;
}

.geo__adress__total {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    margin-top: 14px;
}

.geo__adress__total__color {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.geo__adress__button__color {
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    outline: none;
    margin-top: 17px;
}

.geo__adress__button__color:hover {
    background-color: rgb(185, 0, 0);
    box-shadow: 0 0 5px 5px #b1000f;
}